<h2 class="hp-heading">Elextbook</h2>

<a hp-link href="https://elextbook.web.app">
  <h3 class="hp-label">Application</h3>
</a>

<a hp-link href="https://console.firebase.google.com/u/0/project/elextbook/overview?hl=ja">
  <h3 class="hp-label">Firebase</h3>
</a>

<a hp-link href="https://console.cloud.google.com/home/dashboard?project=elextbook&_ga=2.88557779.954837732.1640265060-2083466170.1638682827">
  <h3 class="hp-label">GCP</h3>
</a>

<a hp-link href="https://analytics.google.com/analytics/web/#/p294316905/reports/reportinghub">
  <h3 class="hp-label">Analytics</h3>
</a>

<a hp-link href="https://search.google.com/u/3/search-console?resource_id=https%3A%2F%2Felextbook.web.app%2F">
  <h3 class="hp-label">Search Console</h3>
</a>


<h2 class="hp-heading">Test Server</h2>

<a hp-link href="https://elextbook-test.web.app">
  <h3 class="hp-label">Application</h3>
</a>

<a hp-link href="https://console.firebase.google.com/u/0/project/elextbook-test/overview?hl=ja">
  <h3 class="hp-label">Firebase</h3>
</a>



<h2 class="hp-heading">Console</h2>

<a hp-link href="https://elextbook-console.web.app">
  <h3 class="hp-label">Application</h3>
</a>

<a hp-link href="https://console.firebase.google.com/u/0/project/elextbook-console/overview?hl=ja">
  <h3 class="hp-label">Firebase</h3>
</a>
